*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: yellow;
}

#container{
    border: 1px solid black;
    margin: 0px auto;
    width: 330px;
    height: auto;
    padding: 15px;
    background:-webkit-linear-gradient(top, green, black);
    background:-moz-linear-gradient(top, green, black);
    background:linear-gradient(top, green, black);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}
p{
    
    text-shadow: 1px 1px black;
}
input{
    padding: 10px 20px;
    width: 40px;
    height: 10px;
    border-radius: 6px;
}
button{
    padding: 2px 2px;
    font-size: 18px;
    border-radius: 6px;
    background-color: black;
    box-shadow: 2px 2px yellow;
    
}
#stage{
    margin: 0px auto;
    width: 300px;
    height: 300px;
    position: relative;    
    border: 1px solid black;
    
}

#gameover{
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(images/gameover.png);
    
    
}

#background{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(images/background.png);
    
    
}

#cannon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 270px;
    left: 140px;
    background-image: url(images/cannon.png);
   
}
#alien{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 80px;
    background-image: url(images/alien.png);
    display: block;
    
}

#missile{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 240px;
    left: 145px;
    background-image: url(images/missile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#explosion{
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background-image: url(images/explosion.png);
}
